root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true
ij_any_keep_indents_on_empty_lines = false
ij_any_align_multiline_ternary_operation = true
ij_javascript_import_sort_members = true
ij_javascript_import_sort_module_name = true
